.comment {
  max-height: 75vh;
  overflow-y: scroll;
}

@media screen and (max-height: 1080px) {
  .comment {
    max-height: 70vh;
    overflow-y: scroll;
  }
}

.comment::-webkit-scrollbar {
  display: none;
}

.commentInputs {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}
